<main id="modal">
    <content>
        <section id="edit-balance-modal-wrapper">
            <header>
                {{vm.originEnvelope.title_value}}
            </header>
            <form id="{{formId}}" name="{{formId}}" ng-submit="submit()">
                <article ng-if="toEnvelopes">
                    <select ng-model="toEnvelope" ng-change="setTo(toEnvelope)" required ng-options="envelope.title_value + ':     ' + envelope.amount_value for envelope in toEnvelopes">
                        <option value="">----- To -----</option>
                    </select>
                    <input type="number" ng-model="fromFValue" name="fromValue" placeholder="0.00"/>
                    F: {{fromFValue}}
                </article>
                <article>
                    <button type="submit">Add</button>
                    <button ng-click="closeModal()">Cancel</button>
                </article>
            </form>
        </section>
    </content>
</main>