<main id="modal">
    <content>
        <section id="edit-balance-modal-wrapper">
            <form id="{{formId}}" name="{{formId}}" ng-submit="submit()">
                <article>
                    <select ng-model="fromEnvelope" ng-change="onChange()" ng-options="envelope.title_value + ':     ' + envelope.amount_value for envelope in envelopes">
                        <option value="">----- From -----</option>
                    </select>
                    <input type="money" ng-model="fromFValue" name="fromValue" placeholder="0.00"/>
                </article>
                <article ng-if="fromFValue">
                    <select ng-model="toEnvelope" ng-change="setTo(toEnvelope)" required ng-options="envelope.title_value + ':     ' + envelope.amount_value for envelope in toEnvelopes">
                        <option value="">----- To -----</option>
                    </select>
                </article>
                <article>
                    <button ng-if="fromFValue" type="submit">Add</button>
                    <button ng-click="closeModal()">Cancel</button>
                </article>
            </form>
        </section>
    </content>
</main>