<h1 ng-if="history.length > 0">Purchases</h1>
<section id="history" ng-if="history.length > 0">
    <article id="gridHeader">
        <label>Id</label>
        <label>Description</label>
        <label>Amount</label>
        <label>Envelope</label>
        <label>Date</label>
        <label>Actions</label>
    </article>
    <article ng-repeat="line in history track by line.id">
        <span class="id">{{line.id}}</span>
        <span class="description">{{line.description}}</span>
        <span class="amount">${{line.amount}}</span>
        <span class="from_title">{{line.from_title}}</span>
        <span class="date">{{line.date}}</span>
        <span class="actions"><button ng-click="deleteItem(line.id)">Delete</button></span>
    </article>
</section>