<h1 ng-if="history">Purchases</h1>
<section id="history" ng-if="history">
    <article id="gridHeader">
        <label>Id</label>
        <label>Description</label>
        <label>Amount</label>
        <label>Envelope</label>
        <label>Date</label>
        <label>Actions</label>
    </article>
    <article ng-repeat="line in history track by line.Line">
        <span id="id">{{line.Line}}</span>
        <span id="desc">{{line.Description}}</span>
        <span id="amt">${{line.Amount}}</span>
        <span id="from">{{line.From}}</span>
        <span id="date">{{line.Date}}</span>
        <span id="actions"><button ng-click="deleteItem(line)">Delete</button></span>
    </article>
</section>