<header ng-if="history.length > 0" class="grid_header">Purchases</header>
<section ng-if="history.length > 0" id="history_two">
    <div class="h_grid" ng-repeat="row in history track by row.id" ng-click="toggleSelect(row.id)">
        <span id="row_{{row.id}}" class="row" ng-model="row.id">          
            <span class="first_column">
                <span>{{row.description}}</span>
            </span>
            <span>
                <span>{{row.date}}</span>
            </span>
            <span class="last_column">
                <div>{{row.from_title}}</div>
                <div>{{row.amount | currency}}</div>
            </span>
        </span>
    </div>
</section>
<span id="history_delete"><button ng-click="deleteItem(selectedHistoryRow)" ng-disabled="disableDelete">Delete Selected Row</button></span>