<main id="modal">
    <content>
        <header>Add to Master Balance</header>
        <form id="mbTransfer" name="mbTransfer" ng-submit="submit()">
            <article>
                <input id="m_balance_input" type="number" step="0.01" ng-model="mbTransfer.value" name="transferValue" placeholder="0.00"/>
            </article>
            <article>
                <button type="submit">Complete</button>
                <button ng-click="closeModal()">Cancel</button>
            </article>
        </form>
    </content>
</main>