<main id="modal" class="credit_debit_modal">
    <content>
        <section id="env-actions-modal-wrapper">
            <header>
                {{header_title_value}}
            </header>
            <article class="cd_list_container">
                <span id="cdm_row_{{row.id}}" class="cdm_row" ng-repeat="row in cdm.creditList" ng-click="toggleSelect(row.id)">
                    <p>{{row.description}}</p>
                    <p>{{row.amount | currency}}</p>
                    <p>{{row.dayofmonthword}}</p>
                    <p>env: {{row.fromenvelopeid}}</p>
                </span>
            </article>
            <article>
                <button ng-disabled="disableDelete" ng-click="delete(selectedCdRow)">Delete</button>
                <button ng-click="closeModal()">Cancel</button>
            </article>
        </section>
    </content>
</main>