body {
    margin: auto;
    color: white;
    background: rgb(94, 96, 107);
    box-sizing: border-box;
    h1 {
        margin: unset;
    }
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: black;
    box-shadow: rgba(66, 66, 66, 0.5) 3px 3px 3px;
    nav {
        height: 39px;
        width: 40px;
        cursor: pointer;
        i {
            &.fas {
                position: relative;
                line-height: 39px;
                float: right;
            }
        }
        section {
            border: 1px solid rgb(150, 150, 150);
            box-shadow: rgba(66, 66, 66, 0.5) 3px 3px 3px;
            padding: 10px;
            position: absolute;
            top: 50px;
            right: 0px;
            display: grid;
            grid-auto-columns: 1fr;
            grid-auto-rows: inherit;
            grid-row-gap: 10px;
            background: slategray;
            form {
                display: flex;
                input {
                    padding: unset;
                    height: 25px;
                    margin-right: 10px;
                }
                button {
                    i.fas {
                        line-height: initial;
                    }
                }
            }
        }
    }
}
hr {
    margin-top: auto;
    border-color: rgb(150, 150, 150);
}


div.env-wrapper {
    width: 188px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 50px;
    border: 1px solid white;
}
div.env-wrapper > .env-modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    color: rgb(244, 250, 253);
    text-transform: uppercase;
}

div.closing_x {
    cursor:pointer;
}

button {
    background: #18465D;
    color: white;
    height: 30px;
}

div.env-wrapper > .env-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
    background: #000000b6;
    color: rgb(244, 250, 253);
}
div#envelope_list{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 188px);
    grid-template-rows: repeat(auto-fill, 90px);
    height: 282px;
    border: 1px solid #000000b6;
    overflow-y: scroll;
    background: rgb(31, 31, 31);
}

main#modal {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(50, 50, 70, 0.7);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main#modal content {
    position: relative;
    margin: 200px auto;
    width: 284px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    background: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

section#edit-balance-modal-wrapper article {
    display: inline-block;
    margin: 10px;
    color: black;
}

option {
    color: black;
}
#history {
    overflow-x: scroll;
}
#history > article {
    min-width: 599px;
    border: 1px solid white;
    display: grid;
    grid-template-rows: fit-content(100%);
    grid-template-columns: 0fr .5fr 0fr .4fr 1fr 0fr;
}

section#history > article#gridHeader {
    background: rgb(22, 142, 255);
}

#history > article:nth-child(odd) {
    background: rgb(116, 178, 207);
}

#history > article:nth-child(even) {
    background: rgb(147, 188, 207);
}

#history > article > label{
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
}

#history > article > span{
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255,0.2);
}

#history > article > span:nth-child(3){
    min-width: 53px;
}

#history > article > span:nth-child(1){
    min-width: 13px;
}
