<main id="modal">
    <content>
        <section id="env-actions-modal-wrapper">
            <header>
                {{aa.originEnvelope.title_value}} Auto Credit
            </header>
            <form id="{{formId}}" name="{{formId}}" ng-submit="submit()" autocomplete="off">
                <article>
                    <input type="number" ng-model="dayOfMonth" min="0" max="28" name="dayOfMonth" placeholder="Calendar Day" required autofocus/>
                    <input type="number" step="0.01" ng-model="amount" name="amount" placeholder="0.00" required/>
                    <input type="text" ng-model="transDescription" name="transDescription" placeholder="description" required/>
                    <select ng-show="list" ng-model="fromEnvelope" ng-options="envelope.title_value + ':     ' + envelope.amount_value for envelope in list" required>
                        <option value="">----- From -----</option>
                    </select>
                </article>
                <article>
                    <button type="submit">{{aa.type}}</button>
                    <button ng-click="closeModal()">Cancel</button>
                </article>
            </form>
        </section>
    </content>
</main>